source_env_if_exists .envrc.local
layout_poetry

export ANSIBLE_CENTOS_6_BOX_IMAGE=generic/centos6
export ANSIBLE_CENTOS_6_HOSTNAME=centos-6
export ANSIBLE_CENTOS_7_BOX_IMAGE=generic/centos7
export ANSIBLE_CENTOS_7_HOSTNAME=centos-7
export ANSIBLE_CENTOS_8_BOX_IMAGE=generic/centos8
export ANSIBLE_CENTOS_8_HOSTNAME=centos-8
export ANSIBLE_HADOOP_BOX_IMAGE=generic/ubuntu2204
export ANSIBLE_UBUNTU_1804_BOX_IMAGE=generic/ubuntu1804
export ANSIBLE_UBUNTU_1804_HOSTNAME=ubuntu-1804
export ANSIBLE_UBUNTU_2004_BOX_IMAGE=generic/ubuntu2004
export ANSIBLE_UBUNTU_2004_HOSTNAME=ubuntu-2004
export ANSIBLE_UBUNTU_2204_BOX_IMAGE=generic/ubuntu2204
export ANSIBLE_UBUNTU_2204_HOSTNAME=ubuntu-2204
export ANSIBLE_WINDOWS_SERVER_2022_BOX_IMAGE=jborean93/WindowsServer2022
export ANSIBLE_WINDOWS_SERVER_2022_HOSTNAME=windows-server-2022
