
[env]
# Path to your ssh public key. This key will be copied to the virtual machine
# to enable passwordless login.
SSH_PUBLIC_KEY_PATH=""

# Amount of cpus used per virtual machine.
LIBVIRT_CPUS="4"

# Amount of memory used per virtual machine (in MB).
LIBVIRT_MEMORY="4096"
