# {{ ansible_managed }}

[Desktop Entry]
Name=Android Studio
GenericName=Text Editor
Comment={{ ansible_managed }}
Exec={{ android_studio_install_path }}/bin/studio.sh %F
Icon={{ android_studio_install_path }}/bin/studio.png
Type=Application
Keywords=android;
