# {{ ansible_managed }}
---
services:
  wordpress:
    image: wordpress:{{ a_kuchen_cafe__image_tag | default('latest') }}
    labels:
      - traefik.docker.network=traefik
      - traefik.enable={{ a_kuchen_cafe__routing_enabled | default('yes') }}
      - traefik.http.routers.kuchen_cafe.entrypoints=websecure
      - traefik.http.routers.kuchen_cafe.middlewares=sts-headers,redirect-http-to-https,redirect-non-www-to-www
      - traefik.http.routers.kuchen_cafe.rule=Host(`www.{{ a_kuchen_cafe__service_fqdn }}`) || Host(`{{ a_kuchen_cafe__service_fqdn }}`)
      - traefik.http.routers.kuchen_cafe.tls.certresolver=letsencrypt
      - traefik.http.routers.kuchen_cafe.tls=true
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: {{ a_kuchen_cafe__db_password }}
      WORDPRESS_DB_NAME: wordpress
    logging:
      driver: {{ a_kuchen_cafe__logging_driver | default('json-file') }}
      options:
        max-size: "{{ a_kuchen_cafe__logging_options.max_size | default('10m') }}"
        max-file: "{{ a_kuchen_cafe__logging_options.max_files | default('3') }}"
    volumes:
      - data:/var/www/html
      - plugins:/var/www/html/wp-content/plugins
      - themes:/var/www/html/wp-content/themes
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - default
      - traefik
    restart: unless-stopped

  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: {{ a_kuchen_cafe__db_root_password }}
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: {{ a_kuchen_cafe__db_password }}
    logging:
      driver: {{ a_kuchen_cafe__logging_driver | default('json-file') }}
      options:
        max-size: "{{ a_kuchen_cafe__logging_options.max_size | default('10m') }}"
        max-file: "{{ a_kuchen_cafe__logging_options.max_files | default('3') }}"
    volumes:
      - db:/var/lib/mysql
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

volumes:
  data:
  db:
  plugins:
  themes:

networks:
  traefik:
    name: traefik
    external: true
