# {{ ansible_managed }}
---
services:
  bot:
    image: chronicc/matrix-webhook:{{ a_matrixhook__image_tag }}
    entrypoint: ["python", "-m", "matrix_webhook", "-vvvv"]
    environment:
      API_KEY: {{ a_matrixhook__api_key }}
      MATRIX_ID: {{ a_matrixhook__matrix_id }}
      MATRIX_TOKEN: {{ a_matrixhook__matrix_token }}
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.docker.network=traefik
      - traefik.enable={{ a_matrixhook__routing_enabled }}
      - traefik.http.routers.matrixhook.entrypoints=websecure
      - traefik.http.routers.matrixhook.rule=Host(`{{ a_matrixhook__service_fqdn }}`)
      - traefik.http.routers.matrixhook.tls.certresolver=letsencrypt
      - traefik.http.routers.matrixhook.tls=true
      - traefik.http.services.matrixhook.loadbalancer.healthcheck.path=/health

networks:
  traefik:
    name: traefik
    external: true
