# {{ ansible_managed }}
---
services:
  valheim-server:
    image: "chronicc/valheim-server:{{ a_valheim__image_tag | default('latest') }}"
    container_name: valheim-server
    cap_add:
      - sys_nice
    stop_grace_period: 2m
    volumes:
      - ./config:/config
      - ./data:/opt/valheim
      - ./worlds:/home/valheim/.config/unity3d/IronGate/Valheim/worlds_local
    environment:
      ADMINLIST_IDS: "{{ a_valheim__adminlist_ids | default('') }}"
      BACKUPS_CRON: "{{ a_valheim__backups_cron | default('0 * * * *') }}"
      BANNEDLIST_IDS: "{{ a_valheim__bannedlist_ids | default('') }}"
      BEPINEX: {{ a_valheim__bepinex | default('false') | lower }}
      PERMITTEDLIST_IDS: "{{ a_valheim__permittedlist_ids | default('') }}"
      SERVER_NAME: "{{ a_valheim__server_name | default('Valheim Server') }}"
      SERVER_PASS: "{{ a_valheim__server_password | default('') }}"
      SERVER_PUBLIC: {{ a_valheim__server_public | default('false') | lower }}
      TZ: "{{ a_valheim__timezone | default('Etc/UTC') }}"
      WORLD_NAME: "{{ a_valheim__world_name | default('Valheim') }}"
    networks:
      - default
    ports:
      - 2456-2458:2456-2458/udp
      - 9001:9001/udp
    restart: always
